@page "/projet/details/{id:int}"
<PageTitle>Détails du Projet</PageTitle>

<RadzenCard>
    <div class="row">
        <div class="col-sm-2 mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" @bind-value="@projet.Nom" readonly>
        </div>
        <div class="col-sm-6 mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" @bind-value="@projet.Description" readonly>
        </div>
        <div class="col-sm-2 mb-3">
            <label class="form-label">Date de Début</label>
            <input type="date" class="form-control" @bind-value="@projet.DateDebut" readonly>
        </div>
        <div class="col-sm-2 mb-3">
            <label class="form-label">Date de Fin</label>
            <input type="date" class="form-control" @bind-value="@projet.DateFin" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mb-3">
            <label class="form-label">Statut</label>
            <input type="text" class="form-control" @bind-value="@projet.Statut" readonly>
        </div>
        <AuthorizeView Roles="Admin">
        
        <div class="col-sm-8">
            <label class="form-label"></label>
            <div class="d-flex gap-2 mt-2">
                @if (projet.Statut == outher.ProjetStatus.Creation)
                {
                    <button class="btn btn-primary d-flex" @onclick="lancer">Lancer</button>
                }

                @if (projet.Statut == outher.ProjetStatus.EnCours)
                {
                    <button class="btn btn-warning text-white d-flex" @onclick="delancer">Annuler le lancement</button>
                    <button class="btn btn-success d-flex" @onclick="valider">Valider</button>
                }

                @if (projet.Statut == outher.ProjetStatus.Termine)
                {
                    <button class="btn btn-warning text-white d-flex" @onclick="invalider">Invalider</button>
                }

                <button class="btn btn-danger d-flex" @onclick="annuler">Annuler</button>

                @if (projet.Statut == outher.ProjetStatus.Annuler)
                {
                    <button class="btn btn-primary text-white d-flex" @onclick="@Repris">Repris</button>
                }
                
            </div>
        </div>
        </AuthorizeView>
    </div>
</RadzenCard>

